* {
  box-sizing: border-box;
}

body {
  font-family: "Calibri light", "Arial", sans-serif;
  background-color: #E8E2DB;
  color: #1A3263;
}

h1 {
  font-size: 175%;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Calibri", "Arial", sans-serif;
}

h2 {
  font-family: "Calibri", "Arial", sans-serif;
  text-align: center;
  font-size: 150%
  color: #CC1F5C;
}

div {
  border: 10px solid #E8E2DB;
  background-color: #FAB95B;
  text-align: center;
  border-radius: 50px;
}

div:hover{
  background-color: #F5564E;
}

a{
  font-weight: bold;
  text-decoration: none;
}

table{
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

th{
  float: left;
  width: 33.33%;
  background-color: #8FBAF3;
}

td {
  float: left;
  width: 33.33%;
  text-align: center;
  height: auto;
}



span {
  background-color: #66002B;
  padding: 100px 60px 10px 60px;
  border-radius: 100px;
  color: #FFFFFF;
}

caption{
  font-weight: bold;
}


.gradient{
  background: linear-gradient(to top, #E059A8, #E8E2DB);
}

.normal{
  text-indent: 40px; 
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;

  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
